# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

./.idea
./.idea/*
.idea

*.tfvars

# misc
.DS_Store

# env files (can opt-in for committing if needed)
.env*

/docs/*
/docs
tsconfig.json

settings.json

# Test Implementations
example/
example/*

# terraform
terraform.tfstate.backup
terraform.tfstate
.terraform.lock.hcl
.terraform
.terraform.tfstate.*
